---
import Button from "../../ui/Button.astro";

interface Cta {
  label: string;
  href: string;
}

interface Image {
  src: string;
  alt: string;
}

interface Stat {
  number: string;
  label: string;
}

interface Props {
  id?: string;
  slot?: string;
  eyebrow?: string;
  title?: string;
  titleHtml?: string;
  description?: string;
  bullets?: string[];
  primaryCta?: Cta;
  secondaryCta?: Cta;
  stats?: Stat[];
  image?: Image;
  overlayClass?: string;
}

const {
  id = "page-hero",
  slot,
  eyebrow,
  title,
  titleHtml,
  description,
  bullets = [],
  primaryCta,
  secondaryCta,
  stats = [],
  image,
  overlayClass = "bg-black/90",
} = Astro.props;
---

<section
  slot={slot}
  id={id}
  class="relative flex items-center py-32 md:py-46 lg:py-64 overflow-hidden"
>
  <div class="container grid gap-12 items-center relative z-20">
    <div class="text-primary flex flex-col gap-4">
      {
        eyebrow ? (
          <p class="uppercase px-3 py-2  w-fit text-accent-primary text-xs font-bold bg-accent-secondary rounded tracking-widest">
            {eyebrow}
          </p>
        ) : null
      }
      {
        titleHtml ? (
          <h1
            class="font-semibold text-primary text-5xl sm:text-6xl md:text-7xl mt-4"
            set:html={titleHtml}
          />
        ) : title ? (
          <h1 class="font-semibold text-primary text-5xl sm:text-6xl md:text-7xl mt-4">{title}</h1>
        ) : null
      }
      {
        description ? (
          <p class="mt-6 text-secondary text-md sm:text-lg leading-relaxed max-w-xl">
            {description}
          </p>
        ) : null
      }

      {
        primaryCta || secondaryCta ? (
          <div class="mt-10 flex flex-col gap-4 sm:flex-row sm:items-center">
            {primaryCta ? (
              <Button variant="primary" href={primaryCta.href}>
                {primaryCta.label}
              </Button>
            ) : null}
            {secondaryCta ? (
              <Button variant="secondary" href={secondaryCta.href} class="hidden sm:inline-flex">
                {secondaryCta.label}
              </Button>
            ) : null}
          </div>
        ) : null
      }

      {
        stats.length ? (
          <div class="mt-16 grid grid-cols-3 gap-8 pt-8 max-w-2xl border-t border-white/10">
            {stats.map((stat) => (
              <div class="flex flex-col items-start justify-center">
                <div class="font-semibold text-3xl lg:text-4xl text-primary">{stat.number}</div>
                <div class="mt-1 text-sm text-secondary leading-tight">{stat.label}</div>
              </div>
            ))}
          </div>
        ) : null
      }
    </div>
  </div>
</section>
